@charset "UTF-8";
 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
 main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
 }

 section#login{
    
    width: 300px;
    height: 580px;
    
    border-radius: 10px;
    background-color: lightgrey;
    overflow: hidden;
    
 }

    .foto{
        height: 200px;
        background-image: url(../imagens/metal.jpg);
        background-position: left bottom;
        background-size: cover;

    }
    h1{
        text-align: center;
        background-color:#653504;
        padding: 9px;
        border-radius: 10px 10px 0px 0px;
        color: white;
        font-size: 2em;
    }
    form{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    #campo{
        justify-content: center;
        align-items: center;
        
    }
    #campo input{
        
        padding: 10px; /*LARGURA DAS LABELS*/
        margin-top: 5px;
        border-radius: 10px;
        cursor: pointer;     
        width: 200px;   
        
    }
    #campo input:focus-within{
        background-color: rgb(126, 121, 121);
        color: white;
        font-weight: bolder;
        
    }
    #botao input{
        margin-top: 5px;
        width: 220px;
        font-weight: bolder;
       
        
    }
    #botao input[type=submit]{
        
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        background-color: green;
        border: none;
    }
    #botao input[type=submit]:hover{
        
        background-color: rgb(8, 220, 8);
        transition: 0.5s;
        
    }
    #botao a{
        display: block;
        text-align: center;
        margin-top: 5px;
        background-color: lightseagreen;
        width: 205px;
        padding: 08px;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    #botao a:hover{
        background-color: rgb(22, 116, 111);
        transition: 0.5s;
    }